.carrerheader{
    background: url("https://pn-paul.netlify.app/image/new-careers-1.jpg");
    width: 100%;
    height: 500px;
    padding-top: 150px;
    margin-top: 14px;
    text-transform: uppercase;
}