.weblogo{
    width:65px;
}

.navbar {
    background: #000000a6!important;
}
.contactheader{
    background-image: url("https://pn-paul.netlify.app/image/CONTACT-US.jpg");
    width: 100%;
    height: 600px;
    padding-top: 250px;
    text-align: center;
    color: white;


    text-transform: uppercase;
}