.pressheader{
    background-image: url("https://pn-paul.netlify.app/image/press-new-1.jpg");
    width: 100%;
    height: 600px;
    padding-top: 250px;
    text-align: center;
    color: white;



    text-transform: uppercase;
}